@import "tailwindcss";

* {
  font-family: Cambria, serif;
  color: #30364F;
}

body {
  background-color: #F0F0DB;
}

button {
  color: white !important;
}

.dropdown-item {
  color: #111827 !important;
}